<!DOCTYPE html>
<html>

<head>
    <title>Quiz App</title>
    <meta charset=utf-8 />
    <meta name="description" content="Quiz App" />
    <meta name="keywords" content="Quiz, App" />
    <meta name="viewport"
        content="user-scalable=no, width=device-width, initial-scale=1.0, minimum-scale=0.75, maximum-scale=0.75" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="stylesheet" href="css/main.css" />
</head>

<body>
    <div id="wrapper">
        <div id="header">
            <h1 id="title-text">Quiz App</h1>
        </div>
        <div id="content">
            <button id="login-button">Login</button>
        </div>
        <div id="source">
            <button id="source-button">View Source</button>
        </div>
    </div>
    <script src="js/main.js"></script>
</body>

</html>